[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.3"
greenlet = "==1.1.2"
itsdangerous = "==2.0.1"
python-dotenv = "==0.19.2"
Flask = "==2.0.2"
Flask-SQLAlchemy = "==2.5.1"
Jinja2 = "==3.0.3"
MarkupSafe = "==2.0.1"
SQLAlchemy = "==1.4.29"
Werkzeug = "==2.0.2"
flask-wtf = "*"
flask-migrate = "*"
flask-login = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.10"
